<div class="container">
  <div class="row">
    <div class="col-8 p-4 text-center bg-light">
      <h5><b>ユーザー一覧</b></h5>
      <%= render "index", users: @users %>
    </div>

    <div class="col-3 offset-1 p-4 text-center bg-white">
      <%= link_to '新規投稿をする',new_post_path, class: "btn btn-info btn-sm btn-block" %>
      <br><br>
      <%= render "layouts/rank", all_ranks: @all_ranks %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 p-4 mx-auto">
      <nav aria-label="Page navigation example">
        <%= paginate @users %>
      </nav>
    </div>
  </div>
</div>
