<div class="container">

  <div class="row">
    <div class='mb-5 mx-auto'>
      <h1>ようこそ</h1>
    </div>
  </div>

  <div class="btn-wrapper col-6 mx-auto">
    <div class="row">
      <%= link_to 'ログイン',new_user_session_path, class: "btn btn-primary btn-sm btn-block mb-5 sign_in" %>
    </div>
    <div class="row">
      <%= link_to '新規登録',new_user_registration_path, class: "btn btn-info btn-sm btn-block sign_up" %>
    </div>
  </div>

</div>