<div class="container">
  <div class="row">
    <div class="col-md-9">
      æŠ•ç¨¿ä¸€è¦§
      <%= render "index", posts: @posts %>
    </div>
    <div class="col-md-2 offset-md-1">
      <%= link_to 'æ–°è¦æŠ•ç¨¿ã‚’ã™ã‚‹',new_post_path, class: "btn btn-info btn-sm btn-block" %>
      <br><br>
      <p>ðŸ‘‘ãƒ©ãƒ³ã‚­ãƒ³ã‚°ðŸ‘‘</p>
      <p><% @all_ranks.each do |post| %></p>
      <%= post.title %>
      <% end %>

    </div>
  </div>
</div>