<div class="text-right p-1 bg-warning" >
  <strong>料理を検索</strong>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
  <%= f.text_field :search %>
  <%= f.submit :search , class: "btn btn-secondary"  %>
  <% end %>
</div>