<div class="search-bg-color text-right p-1" >
  <strong>料理を検索</strong>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
  <%= f.text_field :word %>
  <%= f.submit :検索, class: "btn btn-secondary"  %>
  <% end %>
</div>